#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# PbExtensions configuration
########################################
#
#    PbExtensions.Enable
#        Description: Enable module
#        Default:     0 - Disabled
#                     1 - Enabled
#

PbExtensions.Enable = 1
